@model Assignment.Models.Request

<div class="col-md-12 d-flex justify-content-center">
<form class="card p-3 bg-light" asp-controller="Request" asp-action="MakeRequest" method="post">
    <h3 class="text text-primary">Request for a new category</h3>
    <div class="form-group">
        <label class="form-control" asp-for="CategoryName">Category Name</label>
        <input name = "CategoryName" class="form-control" />
    </div>
    <div class="form-group" >
        <input class="btn btn-primary" type="submit" value="MakeRequest" />
    </div>
    <p class="text text-success">@TempData["Message"]</p>

</form>
</div>