@model web8.Models.Mobile

<form method="post" asp-controller="Mobile" asp-action="Add">
    <h4 class="text text-success">Add new mobile</h4>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label h5"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand" class="col-form-label h5"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color" class="col-form-label h5"></label>
        <select asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()">
            <option>Select mobile color</option>
        </select>
        <span asp-validation-for="Color"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-form-label h5"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="col-form-label h5"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="col-form-label h5"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="col-form-label h5"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date"></span>
    </div>
    <div class="form-group">
        <label asp-for="BestSeller" class="col-form-label h5"></label>
        <input asp-for="BestSeller" class="form-control" />
        <span asp-validation-for="BestSeller"></span>
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>

</form>