@model List<Student>

<div>
    <h1>Success</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <th>@student.Id</th>
                    <th>@student.Name</th>
                    <th>@student.Age</th>
                    <th>@student.PhoneNumber</th>
                </tr>
            }
        </tbody>
    </table>
</div>